# Simulation of Levy Process

Edward J. Xu (edxu96[at]outlook[dot]com)  
June 25th, 2020

In [26]:
import LevySim as ls
import numpy as np

In [39]:
dict = {1: 123, 2: 2354}
len(dict)

2

In [24]:
pd.DataFrame(a = [1, 2, 3])

TypeError: __init__() got an unexpected keyword argument 'a'

In [27]:
t = pd.DataFrame({'A': 1.,
'B': pd.Timestamp('20130102'),
 'C': pd.Series(1, index=list(range(4)), dtype='float32'),
'D': np.array([3] * 4, dtype='int32'),
 'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'})

In [38]:
t.loc[2]["A"]

1.0

In [29]:
t

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [40]:
1 != 0

True